<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="moer.social">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<util:properties id="socialConfig" location="classpath:/moer/social/config/social-properties.xml"/>
	
	<!-- Twitter OAuth Flow -->
	<bean id="twitterOAuthServiceConfig" class="moer.social.oauth.OAuthServiceConfig" 
		p:apiKey="#{socialConfig['oauth.twitter.key']}"
		p:apiSecret="#{socialConfig['oauth.twitter.secret']}"
		p:callback="#{socialConfig['oauth.twitter.callback']}"
		p:apiClass="org.scribe.builder.api.TwitterApi.Authenticate"/>
	
	<bean id="twitterServiceProvider" class="moer.social.oauth.OAuthServiceProvider">
		<constructor-arg name="config" ref="twitterOAuthServiceConfig"/>
	</bean>
	
	<bean id="twitterOAuthService" factory-bean="twitterServiceProvider" factory-method="getService"/>
	
	<!-- Twitter OAuth Test Flow -->
	<bean id="twitterTestOAuthServiceConfig" class="moer.social.oauth.OAuthServiceConfig" 
		p:apiKey="#{socialConfig['oauth.twitter.test.key']}"
		p:apiSecret="#{socialConfig['oauth.twitter.test.secret']}"
		p:callback="#{socialConfig['oauth.twitter.test.callback']}"
		p:apiClass="org.scribe.builder.api.TwitterApi.Authenticate"/>
	
	<bean id="twitterTestServiceProvider" class="moer.social.oauth.OAuthServiceProvider">
		<constructor-arg name="config" ref="twitterTestOAuthServiceConfig"/>
	</bean>
	
	<bean id="twitterTestOAuthService" factory-bean="twitterTestServiceProvider" factory-method="getService"/>
	
</beans>
